@import './variables';

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    color: $primary;
    background-color: $background;
    border: none;
    padding: 0;
    font-family: $raleway;
    text-decoration: none;
    box-sizing: border-box; // Ignore padding and border in element height and width calculations
    -webkit-box-sizing: border-box;
    font-size: 62.5%; // Set 1rem = 10px, 10px/16px = 62.5%
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-focus-inner {
    border: 0;
}