// ------------------------ Colors ------------------------ //

$background: #EEEEEE; // Grey 200
$primary: #212121; // Grey 900

// ------------------------ Fonts ------------------------ //
$raleway: 'Raleway', sans-serif;
$jacquesFrancois: 'Jacques Francois', serif;
