// ------------------------ Colors ------------------------ //

$background: #FAFAFA; // Grey 50
$background-dark-1: #F5F5F5; // Grey 100
$background-dark-2: #EEEEEE; // Grey 200

$primary: #212121; // Grey 900
$primary-light-3: #9E9E9E; // Grey 500

// ------------------------ Fonts ------------------------ //
$raleway: 'Raleway', sans-serif;
$jacquesFrancois: 'Jacques Francois', serif;
$plexSerif: 'IBM Plex Serif', serif;
